/* 
body{
  margin: auto; 
  width: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
div{
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 8;
  background-color: red;
} */

@media (min-width:768px){
  body{
    /* width: 960px; */
    margin: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;;
  }
  div{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 238, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    z-index: -1
  }
  #logo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: black;
    border-radius: 100px;
  }
  #nav {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(32, 7, 100);
    color: rgb(255, 238, 1);
    }

  #pic{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 10;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: -2
    }

  #info {
        grid-column-start: 1;
        grid-column-end: 17;
        grid-row-start: 10;
        grid-row-end: 17;
        background-color: rgb(182, 205, 255);
  }
}
